#Skills {
    color: rgb(77, 188, 188);
    margin: 0 10%;
    padding-top: 70px;
    padding-bottom: 50px;
}

.skills .section-heading {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills .section-heading div {
    margin: 10px;
}

.skills .section-heading .fl {
    flex: auto;
    height: 3px;
    background-color: rgb(77, 188, 188);
    border-radius: 0;
}

.skills .skills-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.skills .skills-data .dbms {
    max-width: 200px; 
}

.skills .skills-data > div {
    border: 1px solid gray;
    background-color: rgb(43, 40, 40);
    padding: 20px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skills .skills-data > div .skill-logos {
    display: flex;
    align-items: center;
    justify-content: center;
}


.skills .skills-data > div .skill-logos .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: gray;
}

.skills .skills-data img {
    width: 70px;
    margin: 10px;
    transition: 0.2s ease-in-out;
}

.skills .skills-data img:hover {
    transform: translateY(-5px);
}

@media (max-width: 1375px) {
    .skills .skills-data .dbms {
        max-width: 120px; 
    }
}

@media (max-width: 1275px) {
    .skills .skills-data img {
        width: 40px;
        margin: 10px;
    }

    .skills .skills-data >div h1 {
        font-size: 24px;
    }

    .skills .skills-data > div .skill-logos .logo p{
        font-size: 12px;
    }
}

@media (max-width: 750px) {
    .skills .skills-data img {
        width: 30px;
        margin: 10px;
    }

    .skills .skills-data > div h1 {
        font-size: 22px;
    }

    .skills .skills-data > div .skill-logos .logo p{
        font-size: 10px;
    }
    .skills .skills-data .dbms {
        max-width: 60px; 
    }
}

@media (max-width: 650px) {
    .skills .skills-data {
        display: block;
    }
    .skills .skills-data .dbms {
        max-width: 100%; 
    }
}
