#home {
    color: rgb(77, 188, 188);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    position: relative;
    /* scroll-snap-align: center; */
    /* scroll-snap-stop: always; */
}

#home > svg {
    position: absolute;
    width: 40%;
    right: 50px;
}

.intro {
    position: relative;
    margin-left: 10%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro::before,
.intro::after {
    content: " ";
    width: 28.125rem;
    height: 28.125rem;
    border-radius: 28.125rem;
    background-color: #4e4a4a;
    position: absolute;
    z-index: -1;
    filter: blur(225px);
}

.intro::after {
    top: -3rem;
    left: -5rem;
}

.intro::before {
    bottom: 2rem;
    right: 0rem;
}

.intro h2 {
    font-size: 65px;
    font-weight: 800;
}

.intro p {
    font-size: 20px;
    font-weight: 600;
}

.intro button {
    position: relative;
    cursor: pointer;
    border: none;
    font-size: 24px;
    border: 2px solid rgb(77, 188, 188);
    color: rgb(77, 188, 188);
    font-weight: 600;
    padding: 15px 30px;
    width: 40%;
    margin-left: 50px;
    margin-top: 30px;
    background-color: rgba(77, 188, 188, 0);
    outline: none;
    backdrop-filter: blur(10px);
    transition: 0.3s;
}

.intro button:hover{
    box-shadow: 0 0 5px 5px rgba(77, 188, 188, 0.5);
}

@media (max-width: 1300px) {
    .intro {
        width: 50%;
    }
    .intro h2 {
        font-size: 54px;
    }   
    .intro p {
        font-size: 17px;
    }  
    .intro button {
        width: 60%;
    } 
}

@media (max-width: 1050px) {
    .intro {
        width: 50%;
    }
    .intro h2 {
        font-size: 42px;
    }   
    .intro p {
        font-size: 17px;
    }   
}

@media (max-width: 850px) {
    #home svg {
        width: 80%;
    }
    .intro {
        width: 70%;
    }
    .intro h2 {
        font-size: 45px;
    }   
    .intro p {
        font-size: 17px;
    }   
    /* .intro::before,
    .intro::after {
        display: none;
    } */
}

@media (max-width: 650px) {
    #home svg {
        width: 100%;
    }
    .intro {
        width: 80%;
    }
    .intro button {
        width: 80%;
        margin-left: 0;
        font-size: 20px;
    }
    .intro h2 {
        font-size: 30px;
    }   
    .intro p {
        font-size: 12px;
    }   
    .intro::before,
    .intro::after {
        width: 25.125rem;
        height: 25.125rem;
}
}