/* DEFAULT CSSS */

ul {
    list-style-type: none;
}

body {
    background-color: #181818;
}

/* NAVBAR CSS */

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 10px 0;
    color: rgb(77, 188, 188);
}

/* NAVBAR - LOGO */

.navbar .logo {
    font-size: 32px;
    margin-left: 30px;
}

/* NAVBAR - LINKS */

.navbar .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: rgb(189, 185, 185);
    list-style-type: none;
}

.navbar .nav-links li {
    position: relative;
    font-size: 18px;
    padding: 10px;
    margin: 0 2%;
    cursor: pointer;
}

.active, .navbar .nav-links li:hover{
    color: rgb(77, 188, 188);
}

.active::before,
.navbar .nav-links li::before {
    position: absolute;
    content: " ";
    top: 50%;
    left: 20%;
    width: 60%;
    background-color: rgba(77, 188, 188, 0.5);
    border-radius: 50px;
    border-radius: 50px;
    z-index: -1;
    transition: 0.3s;
}

.active::before{
    box-shadow: 0 0 5px 5px rgba(77, 188, 188, 0.5);
}

.navbar .nav-links li:hover::before {
    box-shadow: 0 0 5px 5px rgba(77, 188, 188, 0.5);
}

.navbar .nav-links li::after {
    position: absolute;
    content: " ";
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: rgb(77, 188, 188);
    border-radius: 20px;
    transition: width .2s ease-in;
}

.navbar .nav-links li:hover::after{
    width: 100%;
}  

.active {
    color: rgb(77, 188, 188);
}

/* NAVBAR - SOCIAL MEDIA */

.navbar .social-media {
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
}

.navbar .social-media a {
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .social-media a svg{
    fill: white;
    width: 30px;
    height: 30px;
    transition: 0.3s;
    cursor: pointer;
}

.navbar .social-media a .bi-linkedin:hover {
    fill: #0077B5;
} 

.btn {
    width: 42px;
    height: 50px;
    background: transparent;
    padding: 0 1rem;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.lines,.lines::after,.lines::before {
    background-color: #fff;
    width: 30px;
    height: 3px;
    position: absolute;
    transform-origin: 50% 50%;
    transition: all 0.3s;
}
.lines::before{
    content: '';
    top: -11px;
    left: 0;
}
.lines::after{
    content: '';
    top: 11px;
    left: 0;
}  

.target::after{
    transform: translateY(-11px) rotate(-45deg) scaleX(1);
}

.target::before{
    transform: translateY(11px) rotate(45deg) scaleX(1);
}

.target{
    transform: rotate(-180deg);
    background: transparent;
}

.sidebar {
    position: fixed;
    width: 100%;
    top: 70px;
    height: 100vh;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    transition: 0.5s;
}

.sidebar ul {
    width: 100%;
    padding: 0;
    text-align: center;
}

.sidebar ul li {
    cursor: pointer;
    font-size: 32px;
    padding: 10px;
    margin: 0 20px;
    border-bottom: 1px solid rgb(77, 188, 188);
}

.sidebar ul li:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 1200px) {
    .btn {
        display: flex;
    }

    .navbar .nav-links {
        display: none;
    }
}

@media (max-width: 600px) {
    .navbar .social-media {
        margin-right: 0;
    }
    .btn {
        padding-left: 0;
        padding-right: 0;

    }
    .navbar .logo {
        font-size: 28px;
        margin-left: 5px;
    }

    .navbar .social-media a svg{
        width: 25px;
        height: 25px;
    }
    .lines,.lines::after,.lines::before {
        width: 25px;
        height: 3px;
    }
}